flask
flask-mysqldb
python-dotenv


# pip install -r requirements.txt

# este archivo contendra los modulos
# que son necesarios par crear la api
# se hace necesario instalar con el comando
# de la linea 6 en la terminal